<% @posts.each do |post|%>
  <p>名前</p>
  <%= link_to post_path(post) do %>
    <%= post.user.name %><br>
  <% end %>
  <p>タイトル</p>
  <%= post.title %><br>
  <p>内容</p>
  <%= post.body %>
  <p>画像</p>
  <%= attachment_image_tag post, :image, :fill, 100, 100 %>
<% end %>